{% extends 'data_monitoring/base.html' %}
{% load i18n %}
{% load custom_filters %}
{% block header %}{% trans "Dry Mix" %} {% trans "Report" %}{% endblock %}
{% block checkbox %}
{% endblock %}
{% block forms %}
{% endblock %}
{% block url_search_popup %}{% url 'data_monitoring:drymix' %}{% endblock %}
{% block url_list_search %}{% url 'data_monitoring:drymix' %}{% endblock %}
{% block table %}
<div class="scrollable-tbody">
    <table class="table table-report">
        <thead>
            <tr>
                <th>OrderNo</th>
                <th>OrderType</th>
                <th>Customer</th>
                <th>Item</th>
                <th>ColorCode</th>
                <th>Pattern</th>
                <th>Qty</th>
                <th>DateTime</th>
                <th>WorkerCode</th>
            </tr>
        </thead>
        <tbody class="data-tbody">
            {% for data in list %}
            <tr>
                <td>{{ data.production_plan.sales_order.order_no }}</td>
                <td>{{ data.production_plan.sales_order.order_type }}</td>
                <td>{{ data.production_plan.sales_order.customer_name }}</td>
                <td>
                    {{ data.production_plan.sales_order.item_name }}
                    {% if data.production_plan.sales_order.specification|slice:"3:4" == '0' %}
                        {{ data.production_plan.sales_order.specification|slice:":3" }}
                    {% elif data.production_plan.sales_order.specification|slice:"3:4" != '0' %}
                        {{ data.production_plan.sales_order.specification|slice:":4" }}
                    {% endif %}
                </td>
                <td>{{ data.production_plan.sales_order.color_code }}</td>
                <td>{{ data.production_plan.sales_order.pattern }}</td>
                <td>{{ data.production_plan.sales_order.order_qty }}</td>
                <td>{{ data.create_date | date:"Y-m-d H:i"}}</td>
                <td>{{ data.worker_code }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Report not found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block extra_js %}{% endblock %}