{% extends "data_monitoring/input_base.html" %}
{% block title %}PRODUCTION-DATA QR SYSTEM (DRY MIX){% endblock %}
{% block header %}PRODUCTION-DATA QR SYSTEM (DRY MIX){% endblock %}
{% block content %}
<!-- Modal for worker selection -->
<div class="modal fade" id="personModal" tabindex="-1" role="dialog" aria-labelledby="personModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="personModalLabel">CHỌN NHÂN VIÊN</h5>
            </div>
            <div class="modal-body">
                <div class="grid-container-person" id="staffGrid">
                    <!-- Add worker selection buttons here -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
    // Script for dry mix worker selection
    var dmStaffList; // Declare global variable
    $(document).ready(function() { // Load staff list when page loads
        dmStaffList = JSON.parse('{{ dm_staff_list|safe }}');
        var dmStaffName; // Variable to store selected staff's name
        var dmStaffId;   // Variable to store selected staff's ID

        var staffButtonsHtml = ''; // Convert staff button list to HTML elements
        dmStaffList.forEach(function(staff, index) {                
            // Add number using staff.id (or staff.number)
            staffButtonsHtml += `<button class="grid-item" onclick="selectStaff('${staff.worker_code}')">${staff.worker_code}<br>${staff.name}</button>`;
        });

        $('#staffGrid').html(staffButtonsHtml); // Add list to HTML elements
    });
    var selectedStaffNumber; // Global variable to store selected staff number
    function selectStaff(staffId) { // Staff selection function
        // Find the selected Staff's name
        var selectedStaff = dmStaffList.find(function(staff) {
            return staff.id === staffId;
        });
        selectedStaffNumber = staffId;
        $('#selectedStaffInfo').text(`[${selectedStaffNumber}]`); // Display selected staff information
        $('#personModal').modal('hide'); // Close modal window
    }

    let nextBtnState = 0;
    let scannedOrdersData;

    $('#nextBtn').on('click', handleNextButtonClick);

    function handleNextButtonClick() {
        nextBtnState++;
        switch(nextBtnState) {
            case 1:
                handleFirstClick();
                break;
            case 2:
                handleSecondClick();
                break;
            case 3:
                handleThirdClick();
                break;
            default:
                resetPage();
        }
    }

    function handleFirstClick() {
        updateScannedQRCodes();
        updateQRSummary();
        clearOrderInfo();
        disableAddButton();        
        $('#personModal').modal('show');
    }

    function handleSecondClick() {
        showQuantityInput();
        setupTableToggle();
    }

    function handleThirdClick() {
        sendDataToServer();
    }

    function showQuantityInput() {
        $('#quantityInputContainer').show();
        $('#scannedOrdersTable').hide();
    }

    function sendDataToServer() {
        $('#keypad').hide();
        $.ajax({
            url: '/data_monitoring/input_drymix/',
            type: 'POST',
            data: JSON.stringify({
                scannedOrders: scannedQRCodes,
                quantityInput: quantityInput,
                machine: machineValue,
                staffNumber: selectedStaffNumber
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: handleServerResponse,
            error: handleServerError
        });
    }

    function toggleTableVisibility() {
        $('#scannedOrdersTable').toggle();
        const buttonText = $('#scannedOrdersTable').is(':visible') ? 'Giấu' : 'Hiện';
        $('.toggle-button').text(buttonText);
    }

    const categories = JSON.parse('{{ categories|safe }}');
    const subitems = JSON.parse('{{ subitems|safe }}');
    const quantityInput = [];        
    function addNewItem() {
        const parentDiv = $('#quantityInputTable');
        const addButtonContainer = $('#addButtonContainer');    
        const itemGroupDiv = $('<div class="item-group row"></div>');
        const excludeItems = ["ADDITIVE", "AGENT", "BINDER RESIN"]; // List of items to exclude

        // Filter out excluded items from categories array and sort alphabetically
        const sortedCategories = categories.filter(category => !excludeItems.includes(category)).sort();
        const staffGridContainer = $('<div class="staff-grid-container"></div>'); // Create grid container
        sortedCategories.forEach(category => {
            const gridItem = $(`<div class="grid-item">${category}</div>`);
            gridItem.on('click', function() {
                const item = $(this).text();
                const itemSubitems = subitems[item] || [];

                $('#categoryModal').modal('hide'); // Close modal window

                // Create dropdown for subitems based on selected category
                const subItemSelect = $('<select class="subitem-select form-control form-control-lg col-4" style="width:30%"></select>');
                subItemSelect.append('<option value="" disabled selected>"Chọn"</option>');
                itemSubitems.forEach(subitem => {
                    subItemSelect.append(`<option value="${subitem}">${subitem}</option>`);
                });

                // Add "Go back to categories" option
                const optgroup = $('<optgroup label="==============="></optgroup>');
                optgroup.append('<option value="back_to_categories">Quay Lại</option>');
                subItemSelect.append(optgroup);

                itemGroupDiv.append(subItemSelect);
                addButtonContainer.before(itemGroupDiv);

                subItemSelect.on('change', function() { // Handle subitem selection
                    const selectedSubItem = $(this).val();
                    if (selectedSubItem === "back_to_categories") {
                        $('#categoryModal').modal('show'); // Show category selection modal again
                        itemGroupDiv.empty(); // Clear selected item
                        return;
                    }
                    addQuantityField(itemGroupDiv, selectedSubItem);
                    $(this).remove();
                });
            });
            staffGridContainer.append(gridItem);
        });

        $('#categoryModal .modal-body').html(staffGridContainer); // Add grid container to modal body
        $('#categoryModal').modal('show'); // Show modal window
    }

    function addQuantityField(parentDiv, item) {
        const inputLabel = $(`<label for="${item}" class="col-6"><h3>${item}:</h3></label>`);
        const selectBoxQuantity = $('<select class="quantity-select form-control form-control-lg col-2" style="width:30%"></select>');
        selectBoxQuantity.append('<option value="" disabled selected>Unit</option>');
        selectBoxQuantity.append('<option value="kg">Kg</option>');
        selectBoxQuantity.append('<option value="g">g</option>');
        
        parentDiv.append(inputLabel);
        parentDiv.append(selectBoxQuantity);
    
        selectBoxQuantity.on('change', function() {
            const unit = $(this).val();
            const inputField = $(`<input type="text" id="${item}" name="${item}" class="form-control form-control-lg col-2" style="width:30%">`);
            
            // Add event handler for input value change
            inputField.on('input', function() {
                const quantity = $(this).val();
            
                // Find current item in quantityInput array
                const existingItemIndex = quantityInput.findIndex(x => x.item === item);
            
                if (existingItemIndex !== -1) {
                    // If item already exists, update quantity
                    quantityInput[existingItemIndex].quantity = quantity;
                } else {
                    // Add new item to array
                    quantityInput.push({ item: item, unit: unit, quantity: quantity });
                }
            });
            
            parentDiv.append(inputField);
    
            const unitLabel = $('<span class="unit-label col-1"><h3>' + unit + '</h3></span>');
            parentDiv.append(unitLabel);
    
            const removeButton = $('<button class="btn btn-danger btn-sm ml-2 col-1">(-)</button>');
            parentDiv.append(removeButton);  // Add removeButton to the right of unitLabel
    
            removeButton.on('click', function() {
                // Remove item from quantityInput array when button is clicked
                const indexToRemove = quantityInput.findIndex(x => x.name === item);
                if (indexToRemove !== -1) {
                    quantityInput.splice(indexToRemove, 1);
                }
                inputLabel.remove();
                inputField.remove();
                unitLabel.remove();
                selectBoxQuantity.remove();
                removeButton.remove();
            });
    
            selectBoxQuantity.remove();
        });
    }
</script>
{% endblock %}