{% extends "data_monitoring/input_base.html" %}
{% block title %}PRODUCTION-DATA QR SYSTEM (RP){% endblock %}
{% block header %}PRODUCTION-DATA QR SYSTEM (RP){% endblock %}

{% block content %}
{% endblock %}

{% block extra_js %}
<script>
$(document).ready(function() {
    // When the page loads, clear the 'Production Quantity' input field.
    $('#qty').val('');

    var decimalButton = document.querySelector('.decimal');
    // Hide the button if it exists.
    decimalButton.style.display = 'none';
});

let nextBtnState = 0;
let scannedOrdersData;

$('#nextBtn').on('click', handleNextButtonClick);

function handleNextButtonClick() {
    nextBtnState++;
    switch(nextBtnState) {
        case 1:
            handleFirstClick();
            break;
        case 2:
            handleSecondClick();
            break;
        case 3:
            handleThirdClick();
            break;
        default:
            resetPage();
    }
}

function handleFirstClick() {
    updateScannedQRCodes();
    updateQRSummary();
    clearOrderInfo();
    disableAddButton();
}

function handleSecondClick() {
    addQuantityInput();
    showQuantityInput();
    setupTableToggle();
}

function handleThirdClick() {
    const quantityInput = $('#qty').val();
    if (quantityInput) {
        sendDataToServer(quantityInput);
    } else {
        alert('Vui lòng nhập số lượng.');
        nextBtnState = 1;
        $('#nextBtn').click();
    }
}

function addQuantityInput() {
    const htmlContent = `
        <label class="col-6"><h3>SỐ LƯỢNG TÁCH GIẤY</h3></label>
        <div class="row">
            <input style="font-size: 128px;" type="text" id="qty" name="qty" class="form-control col-10 form-control-lg">
            <label style="font-size: 128px;" class="col-2">M</label>
        </div>`;
    $('#addButtonContainer').html(htmlContent);
}

function showQuantityInput() {
    $('#quantityInputContainer').show();
    $('#qty').focus();
    $('#scannedOrdersTable').hide();
}

function sendDataToServer(quantityInput) {
    $('#keypad').hide();
    $.ajax({
        url: '/data_monitoring/input_rp/',
        type: 'POST',
        data: JSON.stringify({
            scannedOrders: scannedQRCodes,
            quantityInput: quantityInput,
            machine: machineValue
        }),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: handleServerResponse,
        error: handleServerError
    });
}

// Update the quantityInput variable when the input field value changes.
function updateQuantityInput() {
    quantityInput = $('#qty').val();
}

// Add an 'input' event listener to call the updateQuantityInput function whenever the input field value changes.
$('#qty').on('input', updateQuantityInput);
</script>
{% endblock %}