{% extends 'data_monitoring/base.html' %} {% load i18n %}
{% load custom_filters %} {% load static %} {% block header %}{% trans "Printing" %} {% trans "Waiting List" %}{% endblock %} {% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/report.css' %}" />
<h2>{% trans "Printing Waitlist" %}</h2>

<div class="container-fluid">
  <div class="row mb-3">
    <div class="col">
      <button class="btn btn-success" onclick="exportTableToExcel()">
        <i class="fas fa-file-excel"></i> {% trans "Export to Excel" %}
      </button>
    </div>
  </div>

  {% if order_and_status %}
  <div class="scrollable-tbody" style="padding-top: 2px">
    <table class="table table-report" id="printingTable">
      <thead>
        <tr>
          <th>Order No</th>
          <th>Customer</th>
          <th>Order Type</th>
          <th>Order Date</th>
          <th>RTD</th>
          <th>ETD</th>
          <th>Brand</th>
          <th>Item</th>
          <th>Spec</th>
          <th>Color</th>
          <th>Pattern</th>
          <th>OrderQty</th>
          <th>Unit</th>
          <th>Print Qty</th>
          <th>Last Process</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
        {% for order, status in order_and_status %}
        <tr>
          <td>{{ order.order_no }}</td>
          <td>{{ order.customer_name }}</td>
          <td>{{ order.order_type }}</td>
          <td class="orderdate-col">{{ order.order_date|custom_date_format }}</td>
          <td class="rtd-col">{{ order.rtd|custom_date_format }}</td>
          <td class="etd-col">{{ order.etd|custom_date_format }}</td>
          <td>{{ order.brand }}</td>
          <td>{{ order.item_name }}</td>
          <td>{{ order.spec }}</td>
          <td>{{ order.color_code }}</td>
          <td>{{ order.pattern }}</td>
          <td>{{ order.order_qty }}</td>
          <td>{{ order.qty_unit }}</td>
          <td>{{ status.qty_to_printing }}</td>
          <td>
            {{ status.latest_process|default_if_none:"" }} {{ status.latest_machine|slice:"-1:" }}
          </td>
          <td>
            {{ status.latest_create_date|slice:"5:16" }} {% if status.latest_create_date %} ({{ status.latest_create_date|elapsed_time }}) {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <p>No orders waiting for printing.</p>
  {% endif %}
</div>
{% endblock %}
