{% extends 'data_monitoring/base.html' %} {% load i18n %}
{% load custom_filters %} {% load static %} {% block header %}{% trans "Printing Waitlist" %}{% endblock %}

{% block action_buttons %}
<button onclick="toggleSearchPopup()" title="Search" style="background: none; border: none; cursor: pointer; margin: 0 10px;">
    <i class="fas fa-search"></i>
</button>
<button type="button" title="List Search" onclick="openListSearchModal();" style="background: none; border: none; cursor: pointer; margin: 0 10px;">
    <i class="fas fa-paste"></i>
</button>
<button onclick="exportTableToExcel()" title="Download as Excel" style="background: none; border: none; cursor: pointer; margin: 0 10px;">
    <i class="fas fa-file-excel"></i>
</button>
<button onclick="captureTableAsImage()" title="Capture" style="background: none; border: none; cursor: pointer; margin: 0 10px;">
    <i class="fas fa-camera"></i>
</button>
{% endblock %}

{% block checkbox %}
<!-- Column visibility control -->
<div class="dropdown d-inline-block me-2">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="columnToggleDropdown" data-bs-toggle="dropdown" aria-expanded="false">
      {% trans "Select Columns" %}
    </button>
    <ul class="dropdown-menu" aria-labelledby="columnToggleDropdown">
      <li>
        <label class="dropdown-item">
          <input class="form-check-input me-2 column-toggle" type="checkbox" id="toggleOrderDateColumn" data-column="OrderDate">
          OrderDate
        </label>
      </li>
      <li>
        <label class="dropdown-item">
          <input class="form-check-input me-2 column-toggle" type="checkbox" id="toggleRTDColumn" data-column="RTD">
          RTD
        </label>
      </li>
      <li>
        <label class="dropdown-item">
          <input class="form-check-input me-2 column-toggle" type="checkbox" id="toggleETDColumn" data-column="ETD">
          ETD
        </label>
      </li>
      <li>
        <label class="dropdown-item">
          <input class="form-check-input me-2 column-toggle" type="checkbox" id="toggleSpecColumn" data-column="Spec">
          Spec
        </label>
      </li>
    </ul>
</div>
{% endblock %}

{% block forms %}{% endblock %}
{% block url_search_popup %}{% url 'data_monitoring:printing_waitlist' %}{% endblock %}
{% block url_list_search %}{% url 'data_monitoring:printing_waitlist' %}{% endblock %}

{% block table %}
<!-- Nội dung bảng -->
{% if order_and_status %}
<div class="scrollable-tbody" style="padding-top: 2px">
  <table class="table table-report" style="width: 80%">
    <thead>
      <tr>
        <th>Order No</th>
        <th>Customer</th>
        <th>Order Type</th>
        <th class="orderdate-col">OrderDate</th>
        <th class="rtd-col">RTD</th>
        <th class="etd-col">ETD</th>
        <th>Brand</th>
        <th>Item</th>
        <th class="spec-col">Spec</th>
        <th>Color</th>
        <th>Pattern</th>
        <th>OrderQty</th>
        <th>Unit</th>
        <th>To Printing</th>
        <th>Last Process</th>
        <th>Update</th>
      </tr>
    </thead>
    <tbody>
      {% for order, status in order_and_status %}
      <tr
        data-order="{{ order }}"
        data-status="{{ status|json_str }}"
        data-order-number="{{ order.order_no }}"
      >
        <td>{{ order.order_no }}</td>
        <td>{{ order.customer_name }}</td>
        <td>{{ order.order_type }}</td>
        <td class="orderdate-col">{{ order.order_date|custom_date_format }}</td>
        <td class="rtd-col">{{ order.rtd|custom_date_format }}</td>
        <td class="etd-col">{{ order.etd|custom_date_format }}</td>
        <td>{{ order.brand }}</td>
        {% if order.spec|slice:"3:4" == '0' %}
        <td>{{ order.item_name }} {{ order.spec|slice:":3" }}</td>
        {% else %}
        <td>{{ order.item_name }} {{ order.spec|slice:":4" }}</td>
        {% endif %}
        <td class="spec-col">{{ order.spec }}</td>
        <td>{{ order.color_code }}</td>
        <td>{{ order.pattern }}</td>
        <td>{{ order.order_qty }}</td>
        <td>{{ order.qty_unit }}</td>
        <td>
          <b>{{ status.qty_to_printing }}</b>
        </td>
        {% if status.latest_process %}
        <td>
          {{ status.latest_process|default_if_none:"" }} {{ status.latest_machine|slice:"-1:" }}
        </td>
        <td>
          {{ status.latest_create_date|slice:"5:16" }} {% if status.latest_create_date %} ({{ status.latest_create_date|elapsed_time }}) {% endif %}
        </td>
        {% else %}
        <td><span><b>N/A</b></span></td>
        <td><span><b>N/A</b></span></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="alert alert-info">
  <p>{% trans "No orders waiting for printing found." %}</p>
</div>
{% endif %}

{% if order_and_status %}
{% endif %}
{% endblock %}

{% block extra_js %}{% endblock %}
