.logo {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 16px;
    padding: 0 20px;
    position: relative;
}
.BSV-MES .text-wrapper-1 {
    color: #24263d;
}
.BSV-MES .text-wrapper-2 {
    color: #D66F6F
}
.BSV-MES {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
.BSV-MES .subtitle {
    position: absolute;
    left: 0;
    bottom: -12px; /* Adjust to accommodate 4 lines of text */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 9px;
    line-height: 1;
}
.BSV-MES .subtitle span {
    display: block;
    color: #D66F6F
}